@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #222;
  font-family: 'Noto Sans', sans-serif;
}
@media (max-width: 1230px) {
  * {
    font-size: 12px;
  }
}
.wrapper {
  width: 100%;
  max-width: 2000px;
  overflow: hidden;
  position: relative;
  padding-bottom: 180px;
  min-height: 100vh;
}
.wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1230px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1230px) {
  .wrapper-inner {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}
.image-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.image-wrap img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}
h2 {
  color: #2c3691;
  font-size: 1.8em;
  font-weight: 700;
}
a,
button {
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-appearance: none;
  text-decoration: none;
}
a:active,
a:focus,
.slide:focus {
  outline: none;
}
button,
button:hover,
button:active {
  outline: none;
  border: none;
}
button::-moz-focus-inner {
  outline: none;
  border: none;
}
input:focus {
  outline: none;
}
input::-webkit-input-placeholder {
  color: #222;
  font-size: 1em;
}
input::-moz-placeholder {
  color: #222;
  font-size: 1em;
}
input:-moz-placeholder {
  color: #222;
  font-size: 1em;
}
input:-ms-input-placeholder {
  color: #222;
  font-size: 1em;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
.slider-wrap {
  position: relative;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/**********************************************************************************************************************
********** header
***********************************************************************************************************************/
.header-nav {
  background: #dededf;
}
nav:after {
  content: '';
  display: block;
  clear: both;
}
nav .burger {
  display: none;
}
nav ul li {
  display: block;
  float: left;
}
nav ul li a {
  display: block;
  height: 55px;
  line-height: 55px;
  font-weight: 700;
  padding: 0 15px;
  position: relative;
}
nav ul li a:before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: #ec1f27;
  position: absolute;
  top: -10px;
  left: 0;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
nav ul li a:hover,
nav ul li a.active {
  color: #2c3691;
  background: #fff;
}
nav ul li a:hover:before,
nav ul li a.active:before {
  top: 0;
}
@media (max-width: 980px) {
  nav {
    margin: 10px 0;
  }
  nav .burger {
    display: block;
    width: 30px;
    height: 23px;
    position: relative;
    cursor: pointer;
  }
  nav .burger-top,
  nav .burger-center,
  nav .burger-bottom {
    display: block;
    width: 100%;
    height: 2px;
    background: #ffffff;
    margin: auto;
    position: absolute;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    left: 0;
  }
  nav .burger-top {
    top: 0;
  }
  nav .burger-bottom {
    bottom: 0;
  }
  nav .burger-center {
    top: 0;
    bottom: 0;
  }
  nav.active .burger .burger-top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
  }
  nav.active .burger .burger-center {
    opacity: 0;
  }
  nav.active .burger .burger-bottom {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
  }
  nav ul {
    display: block;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    background: #dededf;
    z-index: 101;
    padding-top: 30px;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  nav ul li {
    float: none;
    text-align: center;
  }
  nav ul li a {
    height: 40px;
    line-height: 40px;
  }
  nav ul li a:before {
    display: none;
  }
  nav ul li a:hover,
  nav ul li a.active {
    color: #ec1f27;
    background: no-repeat;
  }
  nav.active ul {
    left: 50px;
  }
}
.form-search label {
  display: inline-block;
  margin-right: 5px;
}
.form-search input {
  display: block;
  width: 225px;
  height: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid #9a9ea0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.form-search input:focus {
  border-bottom: 1px solid #ec1f27;
  background: #fff;
}
@media (max-width: 480px) {
  .form-search input {
    width: 200px;
  }
}
.form-search button {
  padding: 3px;
}
.form-search button i {
  position: relative;
  right: 3px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.form-search button i:hover {
  color: #ec1f27;
}
.form-search button i:active {
  right: 0;
}
.header-info .wrapper-inner {
  padding: 40px 0;
}
@media (max-width: 980px) {
  .header-info .wrapper-inner {
    padding: 15px 15px 65px;
  }
}
.header-info .logo-header {
  width: 277px;
}
@media (max-width: 640px) {
  .header-info .logo-header {
    width: 140px;
  }
}
.header-info .callback {
  width: 250px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #ec1f27;
  border: 2px solid #ec1f27;
  font-size: 1.1em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 56px;
}
@media (max-width: 640px) {
  .header-info .callback {
    width: 140px;
    height: 40px;
    font-size: .85em;
    line-height: 36px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  .header-info .callback:active {
    line-height: 42px;
  }
}
.header-info .callback:hover {
  background: #fff;
  color: #ec1f27;
}
.header-info .callback:active {
  line-height: 62px;
}
@media (max-width: 980px) {
  .header-info .phones {
    position: absolute;
    margin: auto;
    left: 15px;
    bottom: 10px;
  }
}
.phones {
  white-space: nowrap;
}
.phones .phone-number {
  display: inline-block;
}
.phones .phone-number:first-of-type {
  margin-right: 45px;
}
.phones .phone-number a {
  display: block;
  font-size: 1.8em;
}
.phones .phone-number a:hover {
  color: #2c3691;
}
.phones .phone-number a span {
  font-size: inherit;
  color: #2c3691;
}
@media (max-width: 1230px) {
  .phones .phone-number:first-of-type {
    margin-right: 25px;
  }
}
@media (max-width: 640px) {
  .phones .phone-number a {
    font-size: 1.2em;
  }
}
/**********************************************************************************************************************
********** footer
***********************************************************************************************************************/
footer[role='contentinfo'] {
  background: #222;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
footer[role='contentinfo'] .wrapper-inner {
  padding: 50px 0;
}
footer[role='contentinfo'] .logo-footer {
  white-space: nowrap;
}
footer[role='contentinfo'] .logo-footer a {
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 65px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 5px;
}
footer[role='contentinfo'] .logo-footer small {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
footer[role='contentinfo'] .phones a {
  color: #fff;
}
footer[role='contentinfo'] .phones a span {
  color: inherit;
}
footer[role='contentinfo'] .phones a:hover {
  color: #2c3691;
}
footer[role='contentinfo'] .phones span {
  color: #fff;
}
@media (max-width: 980px) {
  footer[role='contentinfo'] .wrapper-inner {
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 0;
  }
  footer[role='contentinfo'] .wrapper-inner .logo-footer,
  footer[role='contentinfo'] .wrapper-inner .phones {
    margin: 10px 20px;
  }
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .logo-footer a {
    width: 40px;
    height: 40px;
  }
  footer[role='contentinfo'] .logo-footer small {
    font-size: smaller;
  }
}
/**********************************************************************************************************************
********** page main
***********************************************************************************************************************/
/* banner */
.banner {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 640px) {
  .banner {
    display: none;
  }
}
.banner .banner-control {
  font-size: 120px;
  line-height: 80px;
  width: 45px;
  height: 80px;
  color: rgba(255, 255, 255, 0.57);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.banner .banner-control:hover {
  color: #fff;
}
.banner .banner-control.banner-prev {
  left: calc(50% - 150px);
}
.banner .banner-control.banner-next {
  right: calc(50% - 520px);
}
@media (max-width: 1230px) {
  .banner .banner-control.banner-prev {
    left: 450px;
  }
  .banner .banner-control.banner-next {
    right: 80px;
  }
}
.slider-banner .slide {
  width: 100%;
  height: 385px;
  background: transparent no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.slider-banner .slide .wrapper-inner {
  padding-top: 60px;
}
.slider-banner .slide:focus {
  outline: none;
}
.slider-banner .slide img {
  position: absolute;
  width: auto;
  height: auto;
  margin-left: calc(50% - 1000px);
}
.slider-banner .slide .banner-content {
  width: 410px;
  height: 265px;
  background: rgba(0, 0, 0, 0.57);
  position: relative;
  -webkit-border-radius: 125px 0 0 125px;
  -moz-border-radius: 125px 0 0 125px;
  border-radius: 125px 0 0 125px;
  padding: 30px;
  text-align: right;
}
.slider-banner .slide .banner-content .banner-header {
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  line-height: 1;
  margin-bottom: 10px;
  height: 44px;
  overflow: hidden;
}
.slider-banner .slide .banner-content .banner-text {
  font-size: 16px;
  color: #fff;
  height: 66px;
  overflow: hidden;
}
.slider-banner .slide .banner-content a {
  display: block;
  width: 250px;
  height: 60px;
  border: 2px solid #2c3691;
  background: #2c3691;
  line-height: 56px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-transform: uppercase;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.slider-banner .slide .banner-content a:hover {
  background: #fff;
  color: #2c3691;
}
.slider-banner .slide .banner-content a:active {
  line-height: 60px;
}
.slider-banner .slick-dots {
  width: 50px;
  height: 275px;
  background: rgba(0, 0, 0, 0.77);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: calc(50% - 600px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-banner .slick-dots li {
  display: block;
  margin: 7px 0;
}
.slider-banner .slick-dots li.slick-active button,
.slider-banner .slick-dots li:hover button {
  background: #2c3691;
}
.slider-banner .slick-dots li button {
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  font-size: 0;
  color: transparent;
}
@media (max-width: 1230px) {
  .slider-banner .slick-dots {
    right: 15px;
  }
}
/* about-us */
.about-us {
  background: url(../images/about-us.jpg) no-repeat center;
  background-size: cover;
  padding: 35px 0;
  border-top: 1px solid #fff;
}
.about-us h1 {
  display: block;
  width: 35%;
  color: #fff;
  font-size: 2.6em;
  line-height: 22px;
}
.about-us h1 span {
  display: block;
  margin-top: 20px;
  font-size: 0.5em;
  color: inherit;
  line-height: 21px;
}
@media (max-width: 980px) {
  .about-us h1 {
    font-size: 2em;
  }
  .about-us h1 span {
    font-size: 0.6em;
    line-height: 19px;
  }
}
.about-us .promo-text {
  display: block;
  width: 60%;
  color: #fff;
  font-size: 1.15em;
  line-height: 1.8;
}
.about-us .promo-text a {
  display: inline-block;
  margin-left: 10px;
  font-weight: 700;
  font-size: inherit;
  color: inherit;
}
.about-us .promo-text a:hover {
  text-decoration: underline;
}
@media (max-width: 640px) {
  .about-us .wrapper-inner {
    flex-wrap: wrap;
  }
  .about-us .wrapper-inner h1,
  .about-us .wrapper-inner .promo-text {
    width: 100%;
  }
  .about-us .wrapper-inner h1 span,
  .about-us .wrapper-inner .promo-text span {
    font-size: 0.7em;
    margin-bottom: 10px;
  }
}
/* news */
.news h2,
.products h2 {
  margin-bottom: 20px;
}
.news .slider-wrap,
.products .slider-wrap {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
}
.news .slider-wrap .fa-angle-left,
.products .slider-wrap .fa-angle-left,
.news .slider-wrap .fa-angle-right,
.products .slider-wrap .fa-angle-right {
  font-size: 35px;
  line-height: 35px;
  color: #a9aebd;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.news .slider-wrap .fa-angle-left:hover,
.products .slider-wrap .fa-angle-left:hover,
.news .slider-wrap .fa-angle-right:hover,
.products .slider-wrap .fa-angle-right:hover {
  color: #2c3691;
}
.news .slider-wrap .fa-angle-left,
.products .slider-wrap .fa-angle-left {
  right: 60px;
}
.news {
  width: 45%;
  height: 325px;
  margin: 30px 0;
  border: 5px solid #f7f7f7;
}
.news .slide {
  height: 100px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}
.news a {
  color: #ec1f27;
  font-size: 1.1em;
  text-decoration: underline;
}
.news a:hover {
  text-decoration: none;
}
.news time {
  display: block;
  font-size: 0.85em;
  color: #bdbdbd;
  font-weight: 700;
  margin-top: 10px;
}
@media (max-width: 980px) {
  .news {
    width: 100%;
    height: auto;
  }
  .news .slide {
    height: 120px;
  }
}
/* products */
.products {
  width: 55%;
  height: 325px;
  margin: 30px 0;
  border: 5px solid #f7f7f7;
  background: #f7f7f7;
}
.products .slide {
  text-align: center;
}
.products .slide .image-wrap {
  width: 131px;
  height: 131px;
  border: 1px solid #ececec;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto 10px;
}
.products .slide a {
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: underline;
}
.products .slide a:hover {
  text-decoration: none;
}
@media (max-width: 980px) {
  .products {
    width: 100%;
  }
}
@media (max-width: 980px) {
  .about-us + .wrapper-inner {
    flex-wrap: wrap;
  }
}
/**********************************************************************************************************************
********** page news
***********************************************************************************************************************/
.page-title {
  background: url(../images/about-us.jpg);
  background-size: 100% auto;
  margin-bottom: 30px;
}
.page-title h1 {
  font-size: 1.85em;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
  padding: 20px 0;
}
@media (max-width: 980px) {
  .page-title {
    background: #2c3691;
  }
}
article {
  display: block;
  width: 100%;
  background: #f7f7f7;
  padding: 30px;
}
article h2 {
  font-size: 1.8em;
  color: #2c3691;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10px;
}
article h3 {
  font-size: 1.4em;
  margin: 20px 0 10px;
  color: #2c3691;
  font-weight: 700;
  line-height: 1.1;
}
article h4 {
  font-size: 1.3em;
  color: #2c3691;
  font-weight: 700;
  line-height: 1.1;
  margin: 20px 0 10px;
}
article p {
  margin: 15px 0;
  text-align: justify;
}
article p strong {
  font-weight: 700;
}
article blockquote {
  padding: 5px 0 5px 15px;
  text-align: justify;
  border-left: 4px solid #ec1f27;
  font-size: 0.9em;
  font-style: italic;
}
article ul li {
  color: #2c3691;
  list-style: none;
  padding: 3px 0 3px 20px;
  position: relative;
}
article ul li:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 14px;
  background: url(../images/list-marker.png);
  position: absolute;
  left: 0;
  top: 6px;
}
article figure {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
article figure img {
  margin-bottom: 10px;
}
article .table-wrap {
  width: 100%;
  overflow: auto;
}
article .table-wrap table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
}
article .table-wrap table th {
  width: 25%;
  background: #2c3691;
  color: #fff;
  font-weight: 700;
  text-align: left;
  padding: 13px 20px;
  line-height: 1;
  border-left: 1px solid #2c3691;
}
article .table-wrap table th:last-child {
  border-right: 1px solid #2c3691;
}
article .table-wrap table td {
  width: 25%;
  text-align: left;
  padding: 13px 20px;
  line-height: 1;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
article .table-wrap table td:last-child {
  border-right: 1px solid #e2e2e2;
}
@media (max-width: 480px) {
  article {
    padding: 15px;
  }
  article h2 {
    font-size: 1.4em;
  }
  article h3 {
    font-size: 1.3em;
  }
  article h4 {
    font-size: 1.2em;
  }
  article ul li {
    margin-left: 10px;
  }
}
/**********************************************************************************************************************
********** page products
***********************************************************************************************************************/
.two-columns .page-title + .wrapper-inner {
  align-items: stretch;
}
@media (max-width: 980px) {
  .two-columns .page-title + .wrapper-inner {
    flex-wrap: wrap;
  }
}
aside {
  display: block;
  width: 270px;
  border: 4px solid #f7f7f7;
  padding: 30px;
}
aside ul li {
  display: block;
  height: 25px;
  line-height: 25px;
  font-size: 1.1em;
  color: #ec1f27;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0 15px;
  position: relative;
}
aside ul li:hover {
  color: inherit;
  text-decoration: none;
}
aside ul li.active {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}
aside ul li.active:before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  background: #ec1f27;
  position: absolute;
  left: -34px;
  top: 0;
}
@media (max-width: 980px) {
  aside ul li {
    display: inline-block;
    margin: 0 15px;
  }
  aside ul li:hover {
    color: #ec1f27;
    text-decoration: underline;
  }
  aside ul li.active {
    color: inherit;
  }
  aside ul li.active:before {
    display: none;
  }
}
@media (max-width: 980px) {
  aside {
    width: 100%;
    padding: 15px 30px;
    text-align: center;
  }
}
main {
  display: block;
  width: calc(100% - 270px);
  position: relative;
}
main article {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
}
main article.active {
  position: static;
  visibility: visible;
  opacity: 1;
}
main article .products {
  width: 100%;
  height: auto;
}
main article .products .items-control {
  top: 70px!important;
  margin: auto;
}
main article .products .items-control.items-prev {
  left: -10px;
  right: auto;
}
main article .products .items-control.items-next {
  right: -10px;
}
@media (max-width: 980px) {
  main {
    width: 100%;
  }
}
/**********************************************************************************************************************
********** page product item
***********************************************************************************************************************/
article .make-order {
  padding: 30px;
  background: #ececec;
  margin: 30px -30px 30px -33px;
}
article .make-order:after {
  content: '';
  display: block;
  clear: both;
}
article .make-order .image-wrap {
  width: 274px;
  height: 222px;
  float: left;
}
article .make-order .order-info {
  width: calc(100% - 304px);
  float: right;
  font-weight: 700;
  line-height: 1.6;
}
article .make-order .order-info button {
  display: block;
  width: 220px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: transparent;
  border: 2px solid #2c3691;
  font-size: 1.1em;
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 56px;
  margin-top: 30px;
}
@media (max-width: 640px) {
  article .make-order .order-info button {
    width: 140px;
    height: 40px;
    font-size: .85em;
    line-height: 36px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  article .make-order .order-info button:active {
    line-height: 42px;
  }
}
article .make-order .order-info button:hover {
  background: #2c3691;
  color: #fff;
}
article .make-order .order-info button:active {
  line-height: 62px;
}
@media (max-width: 980px) {
  article .make-order {
    margin: 20px -30px;
  }
}
@media (max-width: 640px) {
  article .make-order .image-wrap {
    width: 100%;
    padding-top: 81%;
    height: auto;
    float: none;
  }
  article .make-order .order-info {
    width: 100%;
    float: none;
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  article .make-order {
    margin: 20px 0;
  }
}
article .tab-control {
  margin-bottom: 20px;
}
article .tab-control div {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 5px 0;
  overflow: hidden;
  position: relative;
  color: #2c3691;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
article .tab-control div:first-child {
  margin-right: 20px;
}
article .tab-control div:hover {
  color: inherit;
}
article .tab-control div.active {
  color: inherit;
  border-bottom: 3px solid #ec1f27;
}
article .tab {
  position: relative;
}
article .tab > div {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
article .tab > div.active {
  visibility: visible;
  opacity: 1;
  position: static;
}
article .tab .product-info-control {
  font-size: 80px;
  line-height: 50px;
  width: 25px;
  height: 50px;
  color: rgba(255, 255, 255, 0.75);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
article .tab .product-info-control:hover {
  color: #fff;
}
article .tab .product-info-control.product-info-prev {
  left: 30px;
}
article .tab .product-info-control.product-info-next {
  right: 30px;
}
@media (max-width: 640px) {
  article .tab .product-info-control {
    font-size: 60px;
    line-height: 40px;
    width: 20px;
    height: 40px;
  }
}
